* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 74px;
  background-color: #2D89E6;
  color: #F6F6F6;
  font-size: 12px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100% - 74px);
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(300px + 10vw);
  height: 90%;
  border: solid 1px #C3C3C3;
  border-radius: 34px;
  margin: 30px;
  padding-top: 2px;
}

.form-group h3 {
  color: #707070;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group .form-body {
  height: 100%;
}

.form-group .form-body .information-box {
  height: 94%;
  padding: calc(2px + 0.5vw) 30px;
}

.form-group .form-body .information-box .information {
  height: 90%;
}

.form-group .form-body .information-box .information input, .form-group .form-body .information-box .information select, .form-group .form-body .information-box .information textarea {
  margin: 5px 0px;
  border: solid 1px #C3C3C3;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: calc(10px);
  min-height: 40px;
  color: #AEAEAE;
}

.form-group .form-body .information-box .information textarea {
  height: 40%;
}

.form-group .form-body .information-box .index-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-group .form-body .information-box .index-selection label {
  font-size: 1.75vh;
}

.form-group .form-body .information-box .index-selection input {
  border: solid 1px #C3C3C3;
}

.form-group .form-body button {
  width: 100%;
  height: 7%;
  background: #2D89E6;
  border-radius: 0px 0px 34px 34px;
}

.members {
  background-color: #F6F6F6;
  height: 100%;
  width: calc(200px + 40%);
}

.members .members-header {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: white;
}

.members .members-header p {
  margin: 5px;
}

.members .members-header .filter-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px 20px 20px 0px;
  width: 70%;
  background-color: #2D89E6;
  font-size: 12px;
}

.members .members-header .items-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px 0px 0px 20px;
  padding: 0px 10px;
  height: 10%;
  background-color: #2D89E6;
  text-align: center;
}

.members-list {
  margin-top: 20px;
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

.members-list .member-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  height: 125px;
}

.members-list .member-card h3, .members-list .member-card h5, .members-list .member-card p {
  margin: 7px 0;
}

.members-list .member-card h5 {
  color: #2D89E6;
}

.members-list .member-card p {
  height: 40px;
  width: 95%;
  color: #6A6A6A;
  word-break: break-all;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.members-list .member-card .delete-button {
  margin: 20px;
  padding: 20px;
  width: 20px;
  height: 20px;
  background-color: #FF4A4A;
  border-radius: 100%;
}

.members-list .member-card .delete-button span {
  margin-bottom: 2px;
  font-size: 40px;
  font-weight: bolder;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.356);
}

.popup .details-box {
  background: white;
  width: 60%;
  height: 60%;
  border-radius: 50px;
  border-top-left-radius: 0px;
  min-height: 400px;
  min-width: 200px;
}

.popup .details-box .cancel {
  position: relative;
  top: -15px;
  left: -15px;
  border-radius: 500px;
  width: 42px;
  height: 42px;
  background: black;
}

.popup .details-box .popup-information-box {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.popup .details-box .popup-information-box .member-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 50px;
  height: 90%;
  color: #6A6A6A;
}

.popup .details-box .popup-information-box .member-details #record-name {
  margin: 20px 0px;
  text-align: center;
  color: black;
  font-size: calc(20px + 2vw);
}

.popup .details-box .popup-information-box .member-details div input, .popup .details-box .popup-information-box .member-details textarea, .popup .details-box .popup-information-box .member-details select {
  width: auto;
  text-align: center;
  color: #2D89E6;
  font-weight: bold;
}

.popup .details-box .popup-information-box .member-details #record-biography {
  margin: 20px 10px;
  border: none;
  padding: 10px;
  width: 100%;
  height: 90%;
  overflow-y: auto;
  text-align: center;
}

.popup .details-box .popup-information-box .member-details input:focus, .popup .details-box .popup-information-box .member-details #record-biography:focus {
  border: solid 1px #2D89E6;
  border-radius: 6px;
}

.popup .details-box .popup-information-box .member-details select {
  border: 1px solid #C3C3C3;
  border-radius: 5px;
}

.popup .details-box .member-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.popup .details-box .member-options button {
  margin: 20px 3vw;
  width: 20%;
  height: 45px;
  font-size: calc(9px + 0.5vw);
}

.popup .details-box .member-options button:nth-child(1) {
  background-color: #FF4A4A;
}

.popup .details-box .member-options button:nth-child(2) {
  background-color: #2D89E6;
}

.popup .details-box .member-options button:nth-child(3) {
  background-color: #484848;
}

select, input {
  margin: 5px;
  border: none;
  border-radius: 4px;
  color: #C3C3C3;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  color: white;
  cursor: pointer;
}

textarea {
  resize: none;
}

vr {
  border-left: 1px solid white;
  height: 20px;
  margin: 0px 2px 0px 2px;
}
/*# sourceMappingURL=style.css.map */